@font-face {
	font-family: "chemin";
	src: url(../font/HKGrotesk-Regular.woff2);
}

@font-face {
	font-family: "title";
src: url(../font/Adelphe_Germinal_Regular.ttf);
}

@font-face {
	font-family: "nav";
src: url(../font/Adelphe-GerminalSemiBold.woff2);
}

::selection {
	background-color: white;
}

body {
	margin: 0;
	height: 100vh;
	overflow: hidden;
	background-color: rgb(233, 233, 233);
	font-family: "chemin";
	font-size: 14px;
}

nav {
	font-family: 'nav';
	color: rgb(0, 0, 0);
	font-size: 20px;
}

details summary:after {
	content: " +";
	color: black;

}


details[open] summary:after {
	content: " -";
	color: black;
}

details[open] summary {
	background-color: aquamarine;
}

nav {
	position: sticky;
	width: auto;
	display: flex;
  }

main {
	width: 75%;
	height: 100vh;
	overflow-y: scroll;
	line-height: 1.5;

}

#aside-right {
	padding-top: 20px;
	width: 25%;
	position: fixed;
	right: 0;
	background-color: aquamarine;
	height: 100vh;
	z-index: 4;
	top: 0;
}



#resume {
	position: fixed;
	height: 100vh;
	overflow-y: scroll;
	background-color:white;
	padding: 20px;
	top: 0;
}

details:hover {
	background-color: aquamarine;
}



#liste {
	display: block;
	margin-bottom: 20px;
	margin-left: 20px;
	margin-top: 20px;
  }

#liste li {
	display: inline-flex;
	max-width: 100%;
	border-right: dotted 1px black;
	padding-right: 20px;
	align-items: center;
	padding-left: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
}

document {
	width: 100%;
	margin: 30px;
  }

.info {
	display: inline-flex;
	border: dotted 1px black;
	background-color: white;
}

.document li {
	display: inline-flex;
}


.title h2,
.title a {
	background-color: rgb(247, 255, 129);
	width: fit-content;
	font-size: 1.2em;
	font-weight: normal;
	margin: 0;
	padding: 5px;
	font-family: 'title';
}


#lastName {
	text-transform: uppercase;
	padding-left: 5px;
}


a {
	text-decoration: none;
	color: rgb(0, 0, 0);


}

a:hover {
	text-decoration: none;
}

nav a:visited {
	color: rgb(255, 255, 255);
}


ul {
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 8px;
}

/* ul li {
	display: inline-block;
	
} */

.creators {
	color: black;
	list-style: none;
	display: grid;
}



/* .publisher {
	color: black;
	font-size: 18px;
	list-style: none;
	font-family: Victor Mono Light;
} */

.title {
	margin: 0;
}


.tag {
	padding: 5px;
	line-height: 2em;
	border: dotted 1px black;
	border-radius: 10px;
	background-color: aquamarine;
}

#notes {
	color: black;
	font-size: 15px;
	display: flex;
	justify-content: stretch;
	box-sizing: content-box;
	align-items: flex-start;
}

#note {
	position: fixed;
	height: 100vh;
	overflow-y: scroll;
	background-color: rgb(247, 255, 129);
	padding: 20px;
	top: 0;
}

#abstractNote {
	color: black;
	font-size: 15px;
	display: flex;
	justify-content: stretch;
	box-sizing: content-box;

}

.boite-courte {
	padding: 10px;
	max-width: 500px;
}

details {
	padding: 10px;
	max-width: 500px;
}


/* details[open] {
	height: 400px;
	position: absolute;
	bottom: 0;
	right: 0;
} */

details>summary {
	cursor: pointer;
	list-style: none;
}

details[open]>summary span {
	display: none;
}

.langue {
	border-top: dotted 1px black;
}

.desactive {
	display: none;
}

.motsCles {
	position: absolute;
	top: 10px;
	padding: 10px;
}

.texte_tag_filtre {
	cursor: pointer;
	border: 1px black dotted;
	border-radius: 3px;
	padding: 3px;
	line-height: 2.1em;
	font-size: 1.1em;
	word-break: break-word;
}

.texte_tag_filtre:hover {
	background-color: #f7ff81;
} 

nav a {
	background: black;
	color: white;
	padding: 12px;
	top: 0;
	position: inherit;
	padding-left: 15px;
	padding-right: 15px;
  }

  nav span {
	background: #f7ff81;
	color: black;
	padding: 12px;
	margin:0;
	top: 0;
	position: sticky;
	padding-left: 15px;
	padding-right: 15px;
  }  



#tagList ul {
	display: flex;
	width: 100vw;
	left: 0;
	margin: 0 0;
	list-style: none;
	list-style-position: inside;
	flex-wrap: wrap;
	padding: 0;

}

.tag_non_selection {
	border: 1px solid black;
	margin: -0.5px;
	list-style: none;
	padding: 5px 20px;

}

.tag_selection {
	background-color: lightgray;
}