<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" href="css/style.css">
</head>


<body>
    <nav>
    <a href="https://habiter-la-marge.vercel.app/">Habiter la marge</a>
<span>Bibliographie</span></nav>
    <section id="aside-right">
        <div class="motsCles">
         {% for tag in tags %}
    <span class="texte_tag_filtre">{{ tag }}</span>
    {% endfor %}
</div>
</section>
    <main>
    <ul id="liste">
    {% for item in collectionItems %}
    <ul class="document"> 
        	<div class="title">
        {% if item.data.url %}
				
                        <a href=" {{item.data.url}}">{{item.data.title}}</a>

				{% else %}
				<a>{{item.data.title}}</a>

				{% endif %}

                {% if item.data.tags | length > 0 %}
		
				{% set tags = [] %}
				<span style="display: none">{% for tag in item.data.tags %}{{ tags.append(tag.tag)}}{% endfor %}</span>
				<span class="tag">{{ tags|join (', ') }}</span>
                {% else %}

                <div class="notags">
                      {% endif %}
                </div>
            </div> 



   <ul class="info">     
   <ul id class="creators">
        {% if item.data.itemType %}
        <li>{{item.data.itemType | replace("webpage", "page web") | replace("thesis", "thèse") | replace("computerProgram", "programme informatique") | replace("book", "livre") | replace("blogPost", "billet de blog") | replace ("videoRecording", "enregistrement vidéo") | replace ("journalArticle", "article de journal") | replace ("forumPost", "post de forum") | replace("livreSection", "chapitre de") }}</li>
        {% endif %}
        {% if item.data.language %}
					<li class="langue">
						{{ item.data.language|replace("fre", "fr")|replace("French", "fr")|upper }}
                    </li>
				{% endif %}

                {% if item.data.date %}
		<li class="langue">{{ item.data.date}}</li>
        {% endif %}

  </ul>
        
            <ul class="creators">
            {% for creator in item.data.creators %}
				<li>
					{{creator.firstName }} <span id=lastName> {{ creator.lastName}}</span>
				</li>
			{% endfor %}
            </ul> 
            


            {% if item.data.blogTitle %}
		<li>{{ item.data.blogTitle }}</li>
        {% endif %}

        {% if item.data.websiteTitle %}
            <li>{{ item.data.websiteTitle }}</li>
        {% endif %}

        {% if item.data.publicationTitle %}
            <li>{{ item.data.publicationTitle }}</li>
        {% endif %}

        {% if item.data.booktTitle%}
        <li>{{item.data.bookTitle}}</li>
        {% endif %}
      
        {% if item.data.publisher %}
		<li>{{ item.data.publisher }}</li>
        {% endif %}

        {% if item.data.series %}
            <li>{{ item.data.series }}</li>
        {% endif %}

        {% if item.data.volume %}
            <li>volume n°{{ item.data.volume }}</li>
        {% endif %}
			
        

            {% if item.data.abstractNote %}

            <li id="abstractNote">
       
                    <!--  si moins de 30 mots afficher en entier -->
                    {% if item.data.abstractNote|wordcount < 30 %}
                        <div class="boite-courte">résumé : {{item.data.abstractNote}}</div>
       
            
                    {% else %}
                        <details>
                            <summary>résumé</summary>
                            <section id="aside-right">
                                <div id="resume">
                           <p>{{item.data.abstractNote}}</p></div>
                        </section>
                        </details>
                   
       
                    {% endif %}
                       </li>
            {% endif %} 
       

            {% if item.data.note %}   
                {% if item.data.note|wordcount < 30 %}
                <div class="boite-courte"> note : {{item.data.note}}</div>  
                {% else %}
                        <details>
                            <summary>note</summary>
                            <section id="aside-right">
                                <div id="note">
                           <p>{{item.data.note}}</p></div>
                        </section>
                        </details>
                   
					{% endif %}

        {% endif %}
               
</div>
</li>  
</ul>  
</ul>    
{% endfor %}
</ul>
</main>
<script src="js/main.js" ></script>

</body>    

</html>